<%- include("partials/header") %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <h1>Delete Movie</h1>
    <a class="back" href="/">Back to Home</a>


<form action="/movies/Delete" method="POST">
    <label>Select Movie:</label>
    <select name="movieId">
        <option value="">--Select--</option>
        <% movies.forEach(movie => { %>
            <option value="<%= movie._id %>"><%= movie.title %> - <%= movie.director %></option>
        <% }) %>
    </select>
    <button type="submit">Delete Movie</button>
</form>
</body>
</html>
<%- include("partials/footer") %>